[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=3.1.0"
gunicorn = "*"
asgiref = "*"
brotli = "*"
django-crispy-forms = "*"
django-extensions = "*"
flake8 = "*"
mccabe = "*"
pillow = "*"
pycodestyle = "*"
pyflakes = "*"
pytz = "*"
sqlparse = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
