{% extends 'jumanji/base.html' %}


{% block container %}

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        {% if updated %}
        <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
        {% endif %}
        <form enctype="multipart/form-data" method="post">{% csrf_token %}
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userName">Имя</label>
                <input class="form-control" name="name" value="{{ resume.name }}" type="text" id="userName">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userSurname">Фамилия</label>
                <input class="form-control" name="surname" value="{{ resume.surname }}" type="text" id="userSurname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userReady">Готовность к работе</label>
                <select class="custom-select mr-sm-2" name="status" id="userReady">
                    {% if resume %}
                    <option selected>{{ resume.status }}</option>
                    {% else %}
                  <option selected>Ищу работу</option>
                    {% endif %}
                  <option>Открыть к предложениям</option>
                  <option>Не ищу работу</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userPortfolio">Ожидаемое вознаграждение</label>
                <input class="form-control" name="salary" value="{{ resume.salary }}" type="text" id="userPortfolio">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                <select class="custom-select mr-sm-2" name="specialty" id="userSpecialization">
                    {% if resume %}
                    <option selected>{{ resume.specialty }}</option>
                    {% else %}
                  <option selected>Бэкенд</option>
                    {% endif %}
                {% for specialty in specialities %}
                  <option>{{ specialty.title }}</option>
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userQualification">Квалификация</label>
                <select class="custom-select mr-sm-2" name="qualification" id="userQualification">
                    {% if resume %}
                  <option selected>{{ resume.qualification }}</option>
                    {% else %}
                  <option selected>Средний (middle)</option>
                    {% endif %}
                  <option>Младший (junior)</option>
                  <option>Старший (senior)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="userEducation">Образование</label>
            <textarea class="form-control text-uppercase" rows="4" name="education" id="userEducation" style="color:#000;">{{ resume.education }}</textarea>
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="userExperience">Опыт работы</label>
            <textarea class="form-control" rows="4" id="userExperience" name="experience" style="color:#000;">{{ resume.experience }}</textarea>
          </div>
          <div class="form-group pb-3">
            <label class="mb-2 text-dark" for="userPortfolio">Ссылка на портфолио</label>
            <input class="form-control" type="text" name="portfolio" value="{{ resume.portfolio }}" id="userPortfolio">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Сохранить">
          </div>
        </form>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
